
import(methods)
importFrom(coin, logrank_trafo)

export(ctree, ctree_memory, ctree_control, 
       node_inner, edge_simple, node_terminal,
       node_surv, node_barplot, node_boxplot,
       node_hist, node_density, weights, 
       where, nodes, conditionalTree,
       treeresponse, response)

exportClasses("BinaryTree", "LearningSample", "SplittingNode",
              "TerminalNode", "TreeControl")
exportMethods("initialize", "fit")

S3method(print, BinaryTree)
S3method(print, nominalSplit)
S3method(print, orderedSplit)
S3method(print, SplittingNode)
S3method(print, TerminalNode)
S3method(plot, BinaryTree)
S3method(predict, BinaryTree)

useDynLib(party)
